{% extends "base.html" %}

    {% block content %}
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    <a href="https://en.wikipedia.org/wiki/The_Hobbit" target="_blank" rel="noopener">
                        <h2 class="post-title">The Hobbit
                        </h2>
                        <h3 class="post-subtitle">The book that started it all!
                        </h3>
                    </a>
                    <p class="post-meta">Posted by Wikipedia
                    </p>
                </div>
                <hr>

                <div class="post-preview">
                    <a href="https://harpercollins.co.uk/pages/tolkien" target="_blank" rel="noopener">
                        <h2 class="post-title">
                            The official Tolkien Bookshop
                        </h2>
                        <h3 class="post-subtitle">
                            Purchase a new copy of your favourite book today!
                        </h3>
                    </a>
                    <p class="post-meta">Posted by Harper Collins
                    </p>
                </div>
                <hr>

                <div class="post-preview">
                    <a href="https://tolkienbooks.net/php/hobbit.php" target="_blank" rel="noopener">
                        <h2 class="post-title">
                            Every UK Edition of the Hobbit
                        </h2>
                        <h3 class="post-subtitle">
                            Since it's first publcation in 1937, there has been an endless stream of editions, binding variants, cover illustrations and illustrators. 
                        </h3>
                    </a>
                    <p class="post-meta">Posted by TolkienBooks.net
                    </p>
                </div>
                <hr>

                <div class="post-preview">
                    <a href="https://en.wikipedia.org/wiki/Thorin_Oakenshield" target="_blank" rel="noopener">
                        <h2 class="post-title">
                            Thorin Oakenshield: The Man, the myth, the legend
                        </h2>
                        <h3 class="post-subtitle">
                            A deeper look into the life of Thorin Oakenshield
                        </h3>
                    </a>
                    <p class="post-meta">Posted by Wikipedia
                    </p>
                </div>
                <hr>

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
            </div>
        </div>
    {% endblock %}
